{% comment %}
<!--
  Let's add some speckles, I have two daughter and they love these.
  https://github.com/dreamsicle-io/speckle
-->
{% endcomment %}

<script type="text/javascript" src="{{ site.url | relative_url }}/speckle.min.js"></script>
<script type="text/javascript">
  const multi = document.querySelector('main');
 
  // Layer 1
  new Speckle(multi, {
    tbOffset: 0, 
    lrOffset: 30, 
    zIndex: -99,
  });

  // Layer 2
  new Speckle(multi, {
    quantity: 5, 
    minSize: 10,
    maxSize: 90, 
    tbOffset: 0, 
    lrOffset: 24,
    isBokeh: true,
    minOpacity: 20, 
    maxOpacity: 30,
    zIndex: -9,
  });

  // Layer 3
  new Speckle(multi, {
    isBokeh: true, 
    quantity: 5, 
    minSize: 20, 
    maxSize: 100, 
    tbOffset: 0, 
    lrOffset: 30, 
    minOpacity: 10, 
    maxOpacity: 40,
    zIndex: 9, 
  });
</script>