<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-m-12">
        <div class="footer__inner">
          <div class="footer__head">
            <div class="row">
              {% include footer-widgets/widget-gallery.html %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__info">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          {% include social-links.html %}
          <div class="copyright">
            2000-{{site.time | date: '%Y'}}
            &copy;
            <a href="https://oinam.com/">Oinam</a>.
            All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>